//Colors
$dark-grey: #333333;
$grey: #666;
$blue: linear-gradient(to right, rgb(0, 82, 212), rgb(67, 100, 247));
$dark-blue: rgb(0, 4, 40);
$off-white: #f7f7f7;

//font-size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

//Spacing
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$s-size: 1.2rem;
$desktop-breakpoint: 45rem;